/* Container Styling */
.contest-container {
  padding: 5em;
  padding-top: 1em;
  background-color: rgba(0, 128, 255, 0.263);
  height: 100vh;
  flex: 1;
  background-color: #def2fe;
  background-image: radial-gradient(circle, #4e37ff 0.05em, #def2fe 1px);
  background-size: 20px 20px; /* Adjust the size of the pattern */
}
/* Card Styling */
.card {
  border: none;
  padding: 1em 1.5em;
  border-radius: 8px;
  border: 1px solid rgb(194, 194, 255);
  transition: transform 0.3s ease, box-shadow 0.3s ease;  
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Card Title */
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

/* Card Text */
.card-text {
  font-size: 1rem;
  color: #555;
}

/* Button Styling */
.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Empty state message */
.text-center p {
  font-size: 1.2rem;
  color: #888;
}

.contest-head-test{
  background-color: rgba(0, 98, 255, 0.084);
  padding-block: 1.5em;
  margin-bottom: 2em;
  border-radius: 0.3em;
  color: rgb(0, 0, 0);
  border: 2px dashed rgb(151, 210, 255);
  backdrop-filter: blur(100px);
}