/* Scoped CSS for MultistepForm */
.multistep-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 5em;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .multistep-form.form-section {
    margin-bottom: 20px;
  }
  
  .multistep-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .multistep-form button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #4c5eaf;
    color: white;
    cursor: pointer;
  }
  
  .multistep-form button:hover {
    background-color: #456fa0;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .prev-button, .next-button, .submit-button {
    width: 48%;
  }
  
  .submit-button {
    background-color: #007BFF;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .next-button{
    background-color: #003d7e;
  }
  .next-button:hover{
    background-color: #0056b3;
  }
  .profile-form-title{
    color: #4c5eaf;
    border: 0cap;
  }